.LoginModel {
    position: relative;
    /* top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 6% auto;
    height: 480px;
    width: 380px;
    background-color: white;
    padding: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    /* height: 100vh; */
    z-index: 1;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    font-family: Bahnschrift Light;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-media {
    margin: 30px auto;
    text-align: center;
    color: white;
}

.twitter,
.facebook,
.youtube {
    background: linear-gradient(to right, #ff105f, #ffad06);
    padding: 2px;
    font-size: 30px;
    margin: 0px 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 40%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    font-family: Bahnschrift Light;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    font-family: Bahnschrift Light;
    outline: none;
    background: transparent;
}

.sumbit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

.forget {
    color: #777;
    font-size: 14px;
    bottom: 63px;
    position: absolute;
}

#signin {
    left: 50px;
}

#register {
    left: 450px;
}




.left-container {
    /* background-position: center 85%; */
    height: 100%;
}

.walmart {
    height: 150px;
    width: 250px;
    padding-top: 50%;
}

.left {
    width: 40%;
    background-color: #0071dc;
    height: 86.8%;
    color: white;
    padding: 30px;
}

.Login-title {
    font-size: 30px;
    padding: 20px 0;
    font-family: Algerian;
}

.Login-des {
    font-size: 22px;
    font-weight: 300;
    font-family: cursive;
}

.right {
    width: 60%;
    height: 100%;
    padding: 50px 25px;
}

.Login-input {
    border: none;
    outline: none;
    width: 95%;
    border-bottom: 1px solid gray;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    margin-top: 10px;
    background: transparent;
    font-family: Bahnschrift Light;
}

.termsandcon {
    padding: 20px 0;
    font-size: 17px;
    font-weight: 300;
    font-family: cursive;
}

.Signin-btn {
    width: 100%;
    margin-top: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #0071dc;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
    border-radius: 9999px;
    font-family: Bahnschrift Light;
}

.signin-signup {
    margin-top: 40%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: Copperplate Gothic Bold;
}

.close {
    position: absolute;
    top: -4px;
    right: -7%;
    color: white;
    font-size: 25px;
    cursor: pointer;
}